/*  your css code here. If applicable */
 #grid-container {
            display: grid;
            grid-template-columns: repeat(3, 80px);
            grid-gap: 10px;
            width: 260px;
            margin-bottom: 20px;
        }

        .grid-item {
            width: 80px;
            height: 80px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            background-color: transparent;
        }